@font-face{font-family: "opensansL";src: local("OpenSans Light"),url(../css/font/OpenSans-Light.ttf);}
body {font: normal normal 16px opensansL;color: #24292e;line-height: 1.3;margin:0;}
.head-image {overflow: hidden;text-align: center;color: white;}
.head-image img {width: 100%;margin: -8% 0 -20% 0;}
.image-title {position: absolute;top: 42%;left: 50%;transform: translate(-50%, -50%);font-family: Arial, Helvetica, sans-serif;font-size: 7rem;}
.recipe {padding:0 10%;margin-bottom: 25px;}
.images{border-bottom: solid 2px #979797;text-align: center;}
.images img { width: 60%;max-width: 675px;	min-width: 310px;}
p {font-size: 1.3em;}
ol,ul {font-size: 1.2em;}
ul {padding: 0 1.5rem;}
ul li {list-style-type: none;}
ul li:before {content: "- ";} 
ol,ol li {margin: 0;padding: 0 2%;}
ol {counter-reset: foo;}
ol li {list-style: none;counter-increment: foo;display: table-row;}
ol li::before {content: counter(foo) ") ";}
p,ol {text-align: justify;}
